html, body.admin {
  height: 100%;
}

body.admin {
  font-family: 'TeachableSans-Regular', sans-serif;
  font-size: 12px;
  letter-spacing: 1.08px;
  background-color: #F5F6F7;
}

.component {
  margin-bottom: 62px;

  h1 {
    margin-top: 10px;
    display: inline-block;
    font-size: 20px;
    color: #2C2F33;
    letter-spacing: 1.08px;
    margin-bottom: 28px;
  }
}

.message-box {
  position: relative;
  background: #FFFFFF;
  padding: 18px 16px;
  border-radius: 6px;
  box-shadow: 1px 2px 3px 0px #E6E9EC;
  margin-bottom: 30px;

  &.green {
    background-color: #00C79F;
    box-shadow: 1px 2px 3px 0px #A9A9A9;
  }

  &.light-green {
    background-color: #A9F5A9;
    box-shadow: 1px 2px 3px 0px #A9A9A9;
  }

  &.red {
    background-color: #FA5858;
    box-shadow: 1px 2px 3px 0px #A9A9A9;
  }

  &.yellow {
    background-color: #F2F5A9;
    box-shadow: 1px 2px 3px 0px #A9A9A9;
  }

  .message-close {
    position: absolute;
    right: 16px;
    width: 17px;
    height: 17px;
    cursor: pointer;
    background-image: image-url('handy-tools/images/x.svg');
    background-size: 17px;
    background-position: 50%;
    background-repeat: no-repeat;
  }

  p:first-of-type {
    font-family: 'TeachableSans-SemiBold';
  }

  p:not(:last-of-type) {
    margin-bottom: 5px;
  }
}

.tabs-row {
  display: inline-block;
  vertical-align: bottom;
  margin-left: 60px;
  font-size: 14px;

  .tab {
    float: left;
    background-color: white;
    vertical-align: bottom;
    padding: 20px 20px 15px 20px;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    user-select: none;

    &.error {
      border-bottom: none;
      padding: 19px 20px 15px 19px;
    }

    &:not(:first-of-type) {
      margin-left: 5px;
    }

    &:not(.selected) {
      margin-bottom: 2px;
      padding-bottom: 13px;

      &:hover {
        cursor: pointer;
      }
    }
  }
}

.white-box {
  background: #FFFFFF;
  padding: 36px 32px;
  border-radius: 6px;
  box-shadow: 1px 2px 3px 0px #E6E9EC;
  position: relative;
  color: #5F5F5F;

  h2 {
    font-family: 'TeachableSans-Medium';
    font-size: 12px;
    color: #2C2F33;
    margin-bottom: 15px;
  }

  hr.divider {
    margin-bottom: 30px;
    margin-left: -32px;
    width: calc(100% + 64px);
  }

  input:not([type="submit"]), textarea, .nice-select {
    width: 100%;
    border: 1px solid #E4E9ED;
    border-radius: 3px;
    color: #5F5F5F;
    letter-spacing: inherit;
    padding: 13px;

    &.error {
      border: 1px solid red;

      &:hover {
        border: 1px solid red;
      }
    }
  }

  .nice-select {
    font-size: inherit;
    line-height: inherit;
    height: 45px;

    ul {
      width: 100%;
    }

    .option.selected {
      font-family: 'TeachableSans-Bold';
    }
  }

  .yes-field-error {
    margin-top: 10px;
    color: red;
    height: 10px;
    margin-bottom: 40px;
  }

  .no-field-error {
    margin-bottom: 30px;
  }

  .yes-dropdown-field-error {
    padding-top: 55px;
    height: 55px;
    color: red;
    margin-bottom: 30px;
  }

  .no-dropdown-field-error {
    margin-bottom: 81px;
  }
}

#admin-framework {
  height: 100%;

  #admin-row {
    margin: 0;
    height: 100%;

    #admin-sidebar {
      background-color: white;
      height: 100%;
      padding: 36px 32px;

      .sidebar-button {
        border: 1px solid #E4E9ED;
        border-radius: 3px;
        letter-spacing: inherit;
        color: #5F5F5F;
        padding: 13px;
        width: 100%;
        margin-bottom: 30px;
      }

      li {
        font-family: 'TeachableSans-SemiBold';
        font-size: 13px;
        color: #B0B0B0;

        &:not(:last-of-type) { margin-bottom: 30px; }

        .highlight {
          color: black;
          cursor: default;
          font-family: 'TeachableSans-ExtraBold';
        }
      }

      hr {
        margin-top: -10px;
        margin-bottom: 20px;
      }
    }

    #admin-right-column {
      padding: 30px 40px 0 40px;
    }
  }
}

.admin-modal {

  &.component {
    margin-bottom: 0;
  }

  .white-box {
    box-shadow: none;
  }

  .yes-field-error {
    margin-top: 10px;
    height: 16px;
    color: red;
    margin-bottom: 20px;
  }

  .no-field-error {
    margin-bottom: 46px;
  }

  .yes-dropdown-field-error {
    padding-top: 55px;
    height: 55px;
    color: red;
    margin-bottom: 36px;
  }

  .no-dropdown-field-error {
    // I don't understand why the padding-bottom is necessary, but the margin-bottom won't push the next row down enough without it
    padding-bottom: 10px;
    margin-bottom: 81px;
  }

  .confirm-delete {

    h1 {
      color: #2C2F33;
      font-family: 'TeachableSans-SemiBold';
      font-size: 20px;
      line-height: 27px;
      margin: auto;
      margin-bottom: 10px;
    }

    .btn {
      width: 124px;
      padding-left: 0;
      padding-right: 0;
      margin-top: 30px;
      margin-right: 20px;
      margin-left: 20px;
    }

    p {
      font-family: 'TeachableSans-SemiBold';
      font-size: 14px;
      color: black;
    }
  }
}
