html, body.admin {
  height: 100%;
}

body.admin {
  font-family: 'TeachableSans-Regular', sans-serif;
  font-size: 12px;
  letter-spacing: 1.08px;
  background-color: #F5F6F7;
}

.component {
  margin-bottom: 62px;

  h1 {
    margin-top: 10px;
    display: inline-block;
    font-size: 20px;
    color: #2C2F33;
    letter-spacing: 1.08px;
    margin-bottom: 28px;
  }
}

.white-box {
  background: #FFFFFF;
  padding: 36px 32px;
  border-radius: 6px;
  box-shadow: 1px 2px 3px 0px #E6E9EC;
  position: relative;
  color: #5F5F5F;

  h2 {
    font-family: 'TeachableSans-Medium';
    font-size: 12px;
    color: #2C2F33;
    margin-bottom: 15px;
  }

  input, textarea {
    border: 1px solid #E4E9ED;
    border-radius: 3px;
    color: #5F5F5F;
    letter-spacing: inherit;
    padding: 13px;

    &.error {
      border: 1px solid red;

      &:hover {
        border: 1px solid red;
      }
    }
  }

  input, textarea, .nice-select {
    width: 100%;
  }

  .yes-field-error {
    margin-top: 10px;
    color: red;
    height: 10px;
    margin-bottom: 40px;
  }

  .no-field-error {
    margin-bottom: 30px;
  }
}

#admin-framework {
  height: 100%;

  #admin-row {
    margin: 0;
    height: 100%;

    #admin-sidebar {
      background-color: white;
      height: 100%;
      padding: 36px 32px;

      .sidebar-button {
        border: 1px solid #E4E9ED;
        border-radius: 3px;
        letter-spacing: inherit;
        color: #5F5F5F;
        padding: 13px;
        width: 100%;
        margin-bottom: 30px;
      }

      li {
        font-family: 'TeachableSans-SemiBold';
        font-size: 13px;
        color: #B0B0B0;

        &:not(:last-of-type) { padding-bottom: 30px; }

        .highlight {
          color: #01647C;
          cursor: default;
          font-family: 'TeachableSans-ExtraBold';
        }
      }
    }

    #admin-right-column {
      padding: 30px 40px 0 40px;
    }
  }
}

.admin-modal {

  .yes-field-error {
    margin-top: 10px;
    height: 16px;
    color: red;
    margin-bottom: 20px;
  }

  .no-field-error {
    margin-bottom: 46px;
  }

  .confirm-delete {

    h1 {
      color: #2C2F33;
      font-family: 'TeachableSans-SemiBold';
      font-size: 20px;
      line-height: 27px;
      margin: auto;
      margin-bottom: 10px;
    }

    .btn {
      width: 124px;
      padding-left: 0;
      padding-right: 0;
      margin-top: 30px;
      margin-right: 20px;
      margin-left: 20px;
    }

    p {
      font-family: 'TeachableSans-SemiBold';
      font-size: 14px;
      color: black;
    }
  }
}
