@mixin button {
  display: inline-block;
  font-family: 'TeachableSans-Bold';
  padding: 15px 40px;
  text-align: center;
  font-size: 12px;
  border-radius: 100px;
  color: white;

  &:hover {
    cursor: pointer;
    text-decoration: none;
    color: white;
  }

  &.standard-width {
    min-width: 175px;
  }

  &.float-button {
    float: right;
  }
}

.blue-button {
  @include button;
  background-color: #013ADF;

  &:hover {
    background-color: #0431B4;
  }
}

.delete-button {
  @include button;
  float: right;
  color: #E9563D;
  border: solid 0.5px #E9563D;

  &:hover {
    color: #E9563D;
    background-color: #FBDDD8;
  }
}

.orange-button {
  @include button;
  background-color: #FF7F45;

  &:hover {
    background-color: #FF6D2C;
  }
}

.spinner {
  position: absolute;
  background-image: image-url('handy-tools/images/ajax-loader.svg');
  background-position: center;
  background-repeat: no-repeat;
  opacity: 0.75;
  z-index: 101;
}

.vertically-align-contents {
  display: flex;
  align-items: center;
}
