.clearfix:after {
  content: "";
  display: block;
  clear: both;
}

.m-bottom {
  margin-bottom: 30px;
}

.m-top {
  margin-top: 30px;
}

.select-scroll-2 .nice-select ul {
  max-height: 80px;
  overflow-y: scroll;
}

.select-scroll-3 .nice-select ul {
  max-height: 120px;
  overflow-y: scroll;
}

.select-scroll-6 .nice-select ul {
  max-height: 240px;
  overflow-y: scroll;
}

.vertically-align-contents {
  display: flex;
  align-items: center;
}
